---
const today = new Date();
import Socials from "./Socials.astro"
---

<footer> 
	&copy; {today.getFullYear()} Andrew Creegan. All rights reserved.
	<div class="socialLink"><Socials/></div> 
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.socialLink {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.socialLink a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.socialLink a:hover {
		color: rgb(var(--gray-dark));
	}

</style>